*{
	padding: 0;
	margin: 0;
	font-family: 'B612 Mono', monospace;
	font-size: 16px;
}
:root{
	--mycolor1: #525265;
	--mycolor2: #672501;
	--mycolor3: #f78101;
	--mycolor4: #b341a1;
	--slider_color: #cfd8dc;
}
.wrapper{
	margin: 0 auto;
	width: 1024px;
}
.flex-v{
	display: flex;
	flex-flow: column nowrap;
	/*align-items: center;*/
}
.flex-h{
	display: flex;
	flex-flow: row nowrap;
}
header{
	background-image: url(img/bg.jpg);
	height: 90vh;
	background-repeat: no-repeat;
	box-shadow: 0 2px 2px 0 rgba(0,0,0, .3);
	/*filter: brightness(0.6);*/
}
h1{
	font-size: 4rem;
	color: white;
	align-self: center;
	text-shadow: 1px 1px 1px #000;
	/*filter: brightness(2);*/
}
body{
	background-color: #eeeeee;
}
nav{
	align-self:end;
}
nav ul li{
	list-style: none;
	cursor: pointer;
}
nav ul li a{
	display: block;
	padding: 30px 10px;
	font-weight: bold;
	font-size: 1.3rem;
	text-decoration: none;
	color: black;
}
nav ul li:hover{
	background-color: rgba(255,255,255,.6); 
}
#burger{
	display: none;
}
#hidden{
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
	/*display: none;*/
	background-color: rgba(207, 216, 220, 0.8);
	position: absolute;
	transition: all 2s ease;
	left: -340px;
	top: 32px;
}
.anti-hidden{
	/*display: block !important;*/
	transition: all 2s ease;
	left: 0 !important;
}
#main{
	padding: 30px 0;
}
#main h2, #main h3{
	padding: 8px 0;
}
h2{
	font-size: 3rem;
}
h3{
	font-size: 2rem;
}
#pics{
width: 100%;
}
.p_pic{
	width: 300px;
	height: 300px;
	margin: 0 30px;
	box-shadow:0px 3px 12px 4px rgba(0,0,0, 0.15);
}
.p_pic:nth-child(1){
	background-image: url(img/1.jpg);
	background-position: -211px;
}
.p_pic:nth-child(2){
	background-image: url(img/2.jpg);
	background-position:-87px -20px;
}
.p_pic:nth-child(3){
	background-image: url(img/3.jpg);
	background-position: -151px;
}
footer{
	background-color: #616161;
	/*height: 100px;*/
}
footer h4{
	color: white;
	font-size: 1rem;
}
#table1{
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
	grid-template-rows: 1fr 1fr 6fr;
	grid-gap: 10px;
	border-bottom: 1px solid black;
}
.table2{
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
	grid-template-rows: 1fr 1fr 2fr;
	grid-gap: 10px;
	border-bottom: 1px solid black;
}
.table3{
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
	grid-template-rows: 1fr 3fr;
	grid-gap: 10px;
	border-bottom: 1px solid black;
}
.bold{
	font-weight: bold;
}
#icons i{
	font-size: 1.4rem;
	padding: 8px 20px 0 0;
	color: black;
}
.block{
	padding: 30px 0 0 0;
	align-items: end;
}
.lil_menu li a{
	padding: 0;
	margin: 0;
	font-size: 1rem;
	align-self: start;
}
.wiget{
	width: 200px;
	height: 200px;
	margin: 0 30px;
	box-shadow:0px 3px 12px 4px rgba(0,0,0, 0.15);
	filter: brightness(0.7);
		background-repeat: no-repeat;
}
a:nth-child(1) .wiget{
	background-image: url(img/date.jpg);
	background-size: 514px;
	background-position: -185px 1px;
}
a:nth-child(2) .wiget{
	background-image: url(img/diploma.jpg);
	background-size: 514px;
	background-position: -185px 1px;
}
a:nth-child(3) .wiget{
	background-image: url(img/contacts.jpg);
	background-size: 355px;
	background-position: -47px 0px;
}
a:nth-child(4) .wiget{
	background-image: url(img/anketa.jpg);
	background-size: 355px;
	background-position: -47px 0px;
}
a:nth-child(1) .wiget:hover, a:nth-child(2) .wiget:hover{
	transition: all .5s ease;
	background-size: 600px;
	box-shadow:0px 3px 12px 4px rgba(0,0,0, 0.4);
}
a:nth-child(3) .wiget:hover, a:nth-child(4) .wiget:hover{
	transition: all .5s ease;
	background-size: 450px;
	box-shadow:0px 3px 12px 4px rgba(0,0,0, 0.4);
}
#widgets{
	padding: 30px 0;
}
#map{
	align-self: center;
}

#slider{
 position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
}
#sliderWrap{
	position: relative;
    list-style: none;
    height: 100%;
    width: 9999%;
    padding: 0;
    margin: 0;
    transition: all 750ms ease;
    left: 0;
}
#sliderWrap li{
	position: relative;
    height: 100%;
   	width: calc(80vw);
    float: left;
    align-items: center;
    justify-content: space-around;
    background-color: var(--slider_color);
}
#sliderWrap li a{
	text-decoration: none;
	color: black;
	border: 2px solid black;
	padding: 8px 10px;
}
#sliderWrap li a:hover{
	background-color: rgba(0,0,0, .15);
}
#sliderWrap li h1{
	color: black;
}
/*#sliderWrap li:nth-child(1){
	background-color: var(--mycolor1);
}
#sliderWrap li:nth-child(2){
	background-color: var(--mycolor2);
}
#sliderWrap li:nth-child(3){
	background-color: var(--mycolor3);
}
#sliderWrap li:nth-child(4){
	background-color: var(--mycolor4);
}*/

#sliderWrap li h2{
	/*transition: all 2s ease-out;*/
	animation: bounceIn 2s;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
#sliderwrapper{
	margin:3% 10%;
}
#prev, #next{
	display: block;
	position: absolute;
	line-height: 50px;
    border-radius: 50%;
    font-size: 2rem;
    text-shadow: 0 0 20px rgba(0,0,0,0.6);
    text-align: center;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 150ms ease;
    cursor: pointer;
}
#prev:hover, #next:hover{
	background-color: rgba(0,0,0, .13);
}
#prev{
	left: 10px;
}
#next{
	right: 10px;
}
@media(max-width: 1200px){
	#top{
		max-width: 100%
	}
	.wrapper{
		max-width: 100%;
		/*padding: 0 20px;*/
	}
	#wigets{
		flex-flow: column nowrap !important;
		align-items: center;
	}
}
@media only screen and (max-width: 730px){
	#first_nav{
		display: none;
	}
	#slider{
		display: none;
	}
	#pics{
		display: none;
	}
	#burger{
		display: block;
	}
	#staff{
		display: none;
	}
}

@media screen and (max-width: 405px){
	#table1{
		display: flex;
		flex-flow: column nowrap;
	}
	.table2{
		display: flex;
		flex-flow: column nowrap;
	}
	.table3{
		display: flex;
		flex-flow: column nowrap;
	}
	h1{
		font-size: 2rem;
	}
}
@media print{
	body{
		background-color: white;
	}
	#slider{
		display: none;
	}
	#pics{
		display: none;
	}
	#widgets{
		display: none;
	}
	#staff{
		display: none;
	}
	nav{
		display: none;
	}
	h1{
		 page-break-after: avoid;
	}
	header{
		height: 100%;
	}
	a[href]:after { content: " (" attr(href) ")";}
}